body{
    background-color: rgb(43, 43, 248);
    font: normal 15pt Arial;

}

header {
    color: white;
    text-align: center;

}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    
    div {
        text-align: center;
        color: red;
        padding: 8px;
        font-weight: bold ;
    }

}

Footer {
    color: white;
    text-align: center;
    font-style: italic;
 
}