body{
    background-color: blue;
    color: #0000ff;

}
section {
    background-color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 500px;

    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);

}


input{
    color:white;
    font-size: 25px;
    background-color: blue;
    /* color: #665e5e */
}
    
    
     .meu-titulo {
      color:black ;   /* vermelho */
      font-size:20px;
      font-weight: bold;
    }

    .meu-texto {
      color: black;   /* azul */
      font-size: 20px;
       font-weight: bold;
    }

    .meu-botao {
      background-color:white !important; /* verde */
      color: #000 !important;  
      font-weight: bold;           /* texto preto */
    }
    .meu-icone{
        background-color:white !important;
        color: #000 !important;
         border: 4px solid blue !important;
        
    }

    .caixa-pequena{
        height: 300px !important;
        width: 350px !important;
        padding: 5px !important;
        font-size: 14px !important;
        
        
    }
