body{
            background-color: antiquewhite;
            color: rgb(0, 0, 0);
            text-align: center;
            font: 12pt Arial; 
             font-style: italic;
    }

        #resultado{
           color: brown;
            font-family: 'Courier New', Courier, monospace;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
        }

         button { font-size: 15pt; padding: 30px; 
            color: rgb(0, 0, 0);
            padding: 5px;
            font-style: italic;
        }

        