body{
            background-color: antiquewhite;
            color: brown;
            text-align: center;
            font: 12pt Arial; 
             font-style: italic;
    }

        #resultado{
           color: rgba(177, 11, 11, 0.973);
           background-color: antiquewhite;
           width: 500px;
           margin: auto;
           margin-top: 20px;
           font-family: 'Courier New', Courier, monospace;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
        }

         button { 
            font-size: 15pt;
            padding: 30px; 
            color: brown;
            margin-top: 20px;
           

        }

        .erro{
            /* background-color: red; */
            width: 500px;
            text-align: center;
            margin: auto;
            
            
        }

        