body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color:blue;
      color: white;
      text-align: center;
    }

    .erro{ color:#b00020;}
    .ok{color: #005500;}
    
    #resultado {
      
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight:bold;
    white-space: pre-line;
    border-radius: 10px;
    padding: 15px;
    max-width: 50%; /* ocupa até 90% da tela */
    margin: 15px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    }
    
    /* Formulários */
    label{
        font-weight: bold;
        display: block; /* melhora em telas pequenas */
        margin-top: 10px;

    }

    input{
      width: 100%;
      max-width: 200px; /* limite em telas grandes */

      padding: 8px;
      font-size: 14px;
      margin-top: 5px;
      border-radius:  5px;
      border: 1px solid #ccc;
    }

    /* Responsividade */
@media (max-width: 600px) {
  body {
    margin: 10px;
    font-size: 0.9rem;
  }

  #resultado {
    font-size: 1rem;
    padding: 10px;
  }

  input {
    max-width: 100%;
  }
}
