body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#74ebd5,#acb6e5);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

    .container{
        background: white;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        text-align: center;
        width: 300px;
    }

    h2{
        color: #333;
        margin-bottom:20px ;
    }

    label{
        display: block;
        margin-top: 10px;
        font-weight: bold;
        color: #555;
    }

    input {
        width: 90%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 6px;
        outline: none;
        transition: border 0.3s;
    }

    input:focus{
        border: 1px solid #74ebd5;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        background: #74ebd5;
        border: none;
        border-radius: 6px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition:background 0.3s;
    }
    button:hover{
        background: #4bb3a7;
    }

    #resultado{
        margin-top: 20px;
        font-size: 18px;
        color: #333;
        font-weight: bold;
    }
