body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background:green;
      color: white;
      text-align: center;
    }
    #resultado {
      
    background-color: white;
    color: black;
    font-weight: bold;
    white-space: pre-line;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    }

    label{
        font-weight: bold;
    }

    input{
      width: 100px;
      padding: 5px;
      font-size: 14px;
    }